/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(126, 219, 176);  
    
    color: #642a08;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(223, 57, 57);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(164, 155, 238);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.quote{
font-style: italic;

}

.accentuate{
font-style: tex gyre schola;
font-weight: 900;
  
}

/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #059790;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: rgb(219, 44, 44);
    text-align: center;
    padding: 19px 19px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: rgb(157, 208, 243);
}




